html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

body {
  margin: 0;
}

header {
  background-color: burlywood;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h1 {
  display: inline-block;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  flex: auto;
  list-style: none;
  text-align: center;
}

.large-image {
  width: 800px;
}
